<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <section class="footer-area footer-five">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p class="text">Copyright © 2022 All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
</html>
