<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/homePage.css}">
    <title>About Page</title>
</head>
<body class="stretched">

<div layout:fragment="content">
    <div style="text-align:center">
        <img alt="Logo U Fidélitas" src="../images/FidelitasLogo.png">
        <h1>Midterm Exam</h1>
        <br>
        <p>This project contains the fallow along code for this class.</p>
        <br> <br>
        <p><b>Professor:</b> KENNETH JEANPOL ALVARADO MENDEZ</p>
        <p><b>Class:</b> Desarrollo de Aplicaciones Web y Patrones (SC-403)</p>
        <br>
        <p><b>Student:</b> Guilder W. Milliner</p>
        <br>


        <p>Se deben seguir los est&aacute;ndares de programaci&oacute;n de HTML, CSS y Java, y las buenas pr&aacute;cticas vistas en clase en la resoluci&oacute;n de cada problema. 1. ITicket 100(pts) Usted ha sido contratado por la empresa ITicket, organizadora de eventos musicales, para la creaci&oacute;n de su p&aacute;gina web. Como desarrollador Full Stack, se le solicita dise&ntilde;ar e implementar el dise&ntilde;o completo del sitio web. En un primer avance, se solicita lo siguiente:</p>

        <p>&#9679; Debe lograr mostrar en pantalla todo el historial de conciertos.  &#9679; Los conciertos tienen un artista asociado, costo del evento, fecha, capacidad m&aacute;xima de personas y lugar. &#9679; Debe, adem&aacute;s, permitir al usuario insertar un nuevo evento o eliminar un evento existente &#9679; Toda la informaci&oacute;n debe estar almacenada en alg&uacute;n sitio de persistencia de datos &#9679; La interfaz de usuario debe ser lo m&aacute;s amigable al usuario posible.</p>

        <p> Debe crear los scripts necesarios tanto del BE (Backend), FE (Front-end) y DB (Base de datos), para poder presentar una soluci&oacute;n a ITicket de manera apropiada, en su primer avance.</p>

        <p>&#9679; Creaci&oacute;n de la base de datos y tablas asociadas (10pts). &#9679; Desarrollo del Backend (Controlador 20 pts, Servicio (Interface y Servicio) 10 pts, Repositorio 5pts, Entidad 5pts ) (40pts). &#9679; Creaci&oacute;n del Front-End junto con CSS (Crear evento 20 pts, Eliminar 10 pts, Visualizar 10 pts) especificado (40pts). &#9679; Subir el c&oacute;digo a github. (10 pts)</p>

    </div>


</div>


</body>

</html>

